html{

}


  @import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap');
@font-face{
    font-family: terma;
    src: url('./Fonts/CutiveMono-Regular.ttf');
}

body{
    background-color: rgb(255, 255, 255);
    background-image: url("./Image/image.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-size: height 100%;
    font-family: terma;
    
}

    
h1{
   color: rgb(0, 0, 0);
   text-shadow: 1px 1px 5px blue;
   text-align: center;
   font-size: 40px;
   text-decoration: underline;
   font-weight: 900;
   
   
}
h4{
    color: rgb(2, 5, 55) 17, 255);
    font-size: 15px;
}
.p1,.p2{
    text-decoration: solid;
    color: rgb(9, 31, 119);
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    
}
.p1{
text-decoration: solid;

}
h4{

}
.list{
    color: rgb(254, 254, 11)45, 220, 245);
    text-align: left;
    line-height: 15px;
    font-size: 15px;
    font-weight: 800;
    
}
strong{
    color: rgb(255, 0, 0);
}

.contact{
    text-align: center;
    color: cyan;
    font-size: 15px;
    font-weight: 700;
}

table{
    color: rgb(0, 25, 47);
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    text-decoration: solid;
    line-height: 15px;
    font-weight: 900;
    
    
 }
 tr,td,th{
    border: 1px solid rgb(0, 0, 0); 
}